In [2]:
#import Funciones as func
import numpy as np
import pandas as pd
%load_ext autoreload
%autoreload 2
import warnings
warnings.filterwarnings("ignore")
from datetime import datetime

In [3]:
# Cargar el archivo Excel
ruta_archivo = r"C:\Users\veram\OneDrive\Escritorio\analisis data\data_excel\siniestros_viales_hechos.xlsx"
df_hechos = pd.read_excel(ruta_archivo, engine='openpyxl')

# Ver las primeras filas del dataset para inspeccionar
print(df_hechos.head())

          id_hecho  n_victimas      fecha  aaaa  mm  dd      hora  hh  \
0  LC-2019-0008283           2 2019-01-04  2019   1   4  17:53:00  17
1  LC-2019-0007634           1 2019-01-04  2019   1   4  14:50:00  14
2  LC-2019-0008974           1 2019-01-05  2019   1   5  09:30:00   9
3  LC-2019-0010983           2 2019-01-06  2019   1   6  22:20:00  22
4  LC-2019-0011092           1 2019-01-07  2019   1   7  03:50:00   3

  direccion_normalizada calle  ... comuna tipo_de_calle geocodificacion_caba  \
0                    SD   NaN  ...     SD            SD                   SD
1                    SD   NaN  ...     SD            SD                   SD
2                    SD   NaN  ...     SD            SD                   SD
3                    SD   NaN  ...     SD            SD                   SD
4                    SD   NaN  ...     SD            SD                   SD

  longitud latitud participantes    victima contraparte gravedad tipo_de_dato
0       SD      SD       AUTO-SD       AUTO          SD       SD   definitivo
1       SD      SD       MOTO-SD       MOTO          SD       SD   definitivo
2       SD      SD  BICICLETA-SD  BICICLETA          SD       SD   definitivo
3       SD      SD       AUTO-SD       AUTO          SD       SD   definitivo
4       SD      SD     PEATON-SD     PEATON          SD       SD   definitivo

[5 rows x 23 columns]

In [4]:
df_hechos.columns

Index(['id_hecho', 'n_victimas', 'fecha', 'aaaa', 'mm', 'dd', 'hora', 'hh',
       'direccion_normalizada', 'calle', 'altura', 'cruce', 'otra_direccion',
       'comuna', 'tipo_de_calle', 'geocodificacion_caba', 'longitud',
       'latitud', 'participantes', 'victima', 'contraparte', 'gravedad',
       'tipo_de_dato'],
      dtype='object')

In [5]:
#Registros totales del dataset

df_hechos.shape[0]

44012

In [6]:
def clean_data(df_hechos):
    # Change column type to string for columns: 'dd', 'mm' and 4 other columns
    #df_hechos = df_hechos.astype({'dd': 'string', 'mm': 'string', 'aaaa': 'string', 'n_victimas': 'string', 'hh': 'string', 'hora': 'string'})
    # Drop column: 'fecha'
    #df_hechos = df_hechos.drop(columns=['fecha'])
    # Rename column 'aaaa' to 'año'
    df_hechos = df_hechos.rename(columns={'aaaa': 'año'})
    # Rename column 'mm' to 'mes'
    df_hechos = df_hechos.rename(columns={'mm': 'mes'})
    # Rename column 'dd' to 'día'
    df_hechos = df_hechos.rename(columns={'dd': 'dia'})
    # Rename column 'n_victimas' to 'cantidad_victimas'
    df_hechos = df_hechos.rename(columns={'n_victimas': 'cantidad_victimas'})
    return df_hechos

df_hechos_clean = clean_data(df_hechos.copy())
df_hechos_clean.head()

,id_hecho,cantidad_victimas,fecha,año,mes,dia,hora,hh,direccion_normalizada,calle,...,comuna,tipo_de_calle,geocodificacion_caba,longitud,latitud,participantes,victima,contraparte,gravedad,tipo_de_dato
0,LC-2019-0008283,2,2019-01-04,2019,1,4,17:53:00,17,SD,NaN,...,SD,SD,SD,SD,SD,AUTO-SD,AUTO,SD,SD,definitivo
1,LC-2019-0007634,1,2019-01-04,2019,1,4,14:50:00,14,SD,NaN,...,SD,SD,SD,SD,SD,MOTO-SD,MOTO,SD,SD,definitivo
2,LC-2019-0008974,1,2019-01-05,2019,1,5,09:30:00,9,SD,NaN,...,SD,SD,SD,SD,SD,BICICLETA-SD,BICICLETA,SD,SD,definitivo
3,LC-2019-0010983,2,2019-01-06,2019,1,6,22:20:00,22,SD,NaN,...,SD,SD,SD,SD,SD,AUTO-SD,AUTO,SD,SD,definitivo
4,LC-2019-0011092,1,2019-01-07,2019,1,7,03:50:00,3,SD,NaN,...,SD,SD,SD,SD,SD,PEATON-SD,PEATON,SD,SD,definitivo

In [7]:
print(df_hechos_clean.isnull().sum())

id_hecho                     0
cantidad_victimas            0
fecha                        0
año                          0
mes                          0
dia                          0
hora                         0
hh                           0
direccion_normalizada        0
calle                    10901
altura                   11347
cruce                    14503
otra_direccion              31
comuna                       0
tipo_de_calle                0
geocodificacion_caba         0
longitud                   216
latitud                    216
participantes                0
victima                      0
contraparte                  0
gravedad                     0
tipo_de_dato                 0
dtype: int64

decidimos eliminar las columnas con valores faltantes en longitud y latitud. tambien eliminaremos la columna altura

In [8]:
print(f"La columna 'id_hecho' cuenta con {len(df_hechos_clean['id_hecho'].unique())} valores únicos.")

La columna 'id_hecho' cuenta con 44012 valores únicos.

In [9]:
import pandas as pd
import numpy as np

# Supongamos que ya tienes tu DataFrame 'df_hechos'

# Reemplazar los valores 'sd' por NaN en el DataFrame
df_hechos_clean.replace('SD', np.nan, inplace=True)
df_hechos_clean.replace('sd', np.nan, inplace=True)

# Opción para verificar los cambios realizados
print(df_hechos.isnull().sum())

id_hecho                     0
n_victimas                   0
fecha                        0
aaaa                         0
mm                           0
dd                           0
hora                         0
hh                           0
direccion_normalizada        0
calle                    10901
altura                   11347
cruce                    14503
otra_direccion              31
comuna                       0
tipo_de_calle                0
geocodificacion_caba         0
longitud                   216
latitud                    216
participantes                0
victima                      0
contraparte                  0
gravedad                     0
tipo_de_dato                 0
dtype: int64

In [10]:
#Competar los valores faltantes de la columna 'Dirección normalizada' con los de 'Lugar del hecho'
df_hechos_clean['direccion_normalizada'] = df_hechos_clean['direccion_normalizada'].fillna(df_hechos_clean['otra_direccion'])

In [11]:
print(df_hechos_clean.isnull().sum())

id_hecho                     0
cantidad_victimas            0
fecha                        0
año                          0
mes                          0
dia                          0
hora                        15
hh                         117
direccion_normalizada     6551
calle                    12722
altura                   13168
cruce                    18698
otra_direccion           19488
comuna                    2252
tipo_de_calle            12864
geocodificacion_caba      3003
longitud                  3042
latitud                   3042
participantes                0
victima                  13512
contraparte              19661
gravedad                 42168
tipo_de_dato                 0
dtype: int64

In [12]:
df_hechos_clean.drop(columns=[ 'altura', 'cruce', 'otra_direccion', 'tipo_de_calle', 'gravedad', 'participantes'], inplace=True)

In [13]:
print(df_hechos_clean.isnull().sum())

id_hecho                     0
cantidad_victimas            0
fecha                        0
año                          0
mes                          0
dia                          0
hora                        15
hh                         117
direccion_normalizada     6551
calle                    12722
comuna                    2252
geocodificacion_caba      3003
longitud                  3042
latitud                   3042
victima                  13512
contraparte              19661
tipo_de_dato                 0
dtype: int64

In [14]:
df_hechos_clean

,id_hecho,cantidad_victimas,fecha,año,mes,dia,hora,hh,direccion_normalizada,calle,comuna,geocodificacion_caba,longitud,latitud,victima,contraparte,tipo_de_dato
0,LC-2019-0008283,2,2019-01-04,2019,1,4,17:53:00,17.0,aut. Dellepiane altura cruce con la calle Timo...,NaN,NaN,NaN,NaN,NaN,AUTO,NaN,definitivo
1,LC-2019-0007634,1,2019-01-04,2019,1,4,14:50:00,14.0,NaN,NaN,NaN,NaN,NaN,NaN,MOTO,NaN,definitivo
2,LC-2019-0008974,1,2019-01-05,2019,1,5,09:30:00,9.0,NaN,NaN,NaN,NaN,NaN,NaN,BICICLETA,NaN,definitivo
3,LC-2019-0010983,2,2019-01-06,2019,1,6,22:20:00,22.0,NaN,NaN,NaN,NaN,NaN,NaN,AUTO,NaN,definitivo
4,LC-2019-0011092,1,2019-01-07,2019,1,7,03:50:00,3.0,NaN,NaN,NaN,NaN,NaN,NaN,PEATON,NaN,definitivo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44007,LC-2023-0078653,1,2023-02-11,2023,2,11,10:22:00,1.0,NaN,NaN,1.0,POINT(108741482290269 10044808511596),NaN,NaN,NaN,NaN,provisorio
44008,LC-2023-0495426,1,2023-08-27,2023,8,27,20:26:00,1.0,NaN,NaN,1.0,POINT(108603348019625 102533232581077),NaN,NaN,NaN,NaN,provisorio
44009,LC-2023-0289045,1,2023-05-24,2023,5,24,03:28:00,1.0,NaN,NaN,1.0,POINT(108314922335319 10041698172211),NaN,NaN,NaN,NaN,provisorio
44010,LC-2023-0105373,1,2023-02-26,2023,2,26,21:10:00,1.0,NaN,NaN,1.0,POINT(107461939711848 102235872632642),NaN,NaN,NaN,NaN,provisorio
44011,LC-2023-0500308,1,2023-08-29,2023,8,29,19:40:00,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,provisorio

In [15]:
"""
Cell generated by Data Wrangler.
"""
def clean_data(df_hechos_clean):
    # Drop rows with missing data in columns: 'contraparte', 'victima' and 3 other columns
    df_hechos_clean = df_hechos_clean.dropna(subset=['contraparte', 'victima', 'geocodificacion_caba', 'longitud', 'latitud'])
    # Drop columns: 'hh', 'direccion_normalizada' and 2 other columns
    df_hechos_clean = df_hechos_clean.drop(columns=['hh', 'direccion_normalizada', 'tipo_de_dato', 'geocodificacion_caba'])
    # Drop column: 'calle'
    df_hechos_clean = df_hechos_clean.drop(columns=['calle'])
    # Filter rows based on column: 'año'
    df_hechos_clean = df_hechos_clean[~(df_hechos_clean['año'] == 2019)]
    # Rename column 'contraparte' to 'acusado'
    df_hechos_clean = df_hechos_clean.rename(columns={'contraparte': 'acusado'})
    return df_hechos_clean

df_hechos_clean_1 = clean_data(df_hechos_clean.copy())
df_hechos_clean_1.head()

,id_hecho,cantidad_victimas,fecha,año,mes,dia,hora,comuna,longitud,latitud,victima,acusado
627,LC-2020-0038050,1,2020-01-18,2020,1,18,14:10:00,NaN,-58.4557446913939,-34.6381283990834,MOTO,OBJETO FIJO
648,LC-2020-0068252,1,2020-02-01,2020,2,1,11:30:00,NaN,-58.4389083180655,-34.6506475734645,MOTO,UTILITARIO
664,LC-2020-0098525,1,2020-02-14,2020,2,14,12:45:00,NaN,-58.4430677724,-34.5454851298983,MOTO,AUTO
726,LC-2020-0244615,1,2020-05-17,2020,5,17,21:00:00,NaN,-58.2996327309773,-34.7289071628618,MOTO,AUTO
755,LC-2020-0375725,1,2020-06-29,2020,6,29,05:50:00,NaN,-58.4664142194363,-34.6508500695196,MOVIL,AUTO

In [16]:
"""
Cell generated by Data Wrangler.
"""
def clean_data(df_hechos_clean_1):
    # Drop column: 'comuna'
    df_hechos_clean_1 = df_hechos_clean_1.drop(columns=['comuna'])
    # Convert text to lowercase in columns: 'id_hecho', 'longitud' and 3 other columns
    df_hechos_clean_1['id_hecho'] = df_hechos_clean_1['id_hecho'].str.lower()
    df_hechos_clean_1['longitud'] = df_hechos_clean_1['longitud'].str.lower()
    df_hechos_clean_1['latitud'] = df_hechos_clean_1['latitud'].str.lower()
    df_hechos_clean_1['victima'] = df_hechos_clean_1['victima'].str.lower()
    df_hechos_clean_1['acusado'] = df_hechos_clean_1['acusado'].str.lower()
    return df_hechos_clean_1

df_hechos_clean_2 = clean_data(df_hechos_clean_1.copy())
df_hechos_clean_2.head()

,id_hecho,cantidad_victimas,fecha,año,mes,dia,hora,longitud,latitud,victima,acusado
627,lc-2020-0038050,1,2020-01-18,2020,1,18,14:10:00,-58.4557446913939,-34.6381283990834,moto,objeto fijo
648,lc-2020-0068252,1,2020-02-01,2020,2,1,11:30:00,-58.4389083180655,-34.6506475734645,moto,utilitario
664,lc-2020-0098525,1,2020-02-14,2020,2,14,12:45:00,-58.4430677724,-34.5454851298983,moto,auto
726,lc-2020-0244615,1,2020-05-17,2020,5,17,21:00:00,-58.2996327309773,-34.7289071628618,moto,auto
755,lc-2020-0375725,1,2020-06-29,2020,6,29,05:50:00,-58.4664142194363,-34.6508500695196,movil,auto

In [27]:
from datetime import datetime

# Definir la función para convertir a formato de tiempo
def convertir_a_time(x):
    if isinstance(x, str):
        try:
            return datetime.strptime(x, "%H:%M:%S").time()
        except ValueError:
            return None
    elif isinstance(x, datetime):
        return x.time()
    return x

# Aplicar la función a la columna 'hora' del DataFrame df_hechos
df_hechos_clean_2['hora'] = df_hechos_clean_2['hora'].apply(convertir_a_time)

# Verificar el resultado
print(df_hechos_clean_2['hora'].head())

627    14:10:00
648    11:30:00
664    12:45:00
726    21:00:00
755    05:50:00
Name: hora, dtype: object

In [28]:
# Guardar el DataFrame en Excel
df_hechos_clean_2.to_excel('hechos.xlsx', sheet_name='hechos', index=False)

print("Datos guardados exitosamente en 'hechos.xlsx'")

Datos guardados exitosamente en 'hechos.xlsx'

In [18]:
import pandas as pd
import openpyxl
# Cargar el archivo Excel
ruta_archivo = r"C:\Users\veram\OneDrive\Escritorio\analisis data\data_excel\siniestros_viales_victimas.xlsx"
df_victimas = pd.read_excel(ruta_archivo, engine='openpyxl')

# Ver las primeras filas del dataset para inspeccionar
print(df_victimas.head())

          id_hecho                fecha  aaaa victima sexo_victima  \
0  LC-2019-0000053  2019-01-01 00:00:00  2019      sd        Varon
1  LC-2019-0000063  2019-01-01 00:00:00  2019      sd           SD
2  LC-2019-0000079  2019-01-01 00:00:00  2019      sd        Varon
3  LC-2019-0000082  2019-01-01 00:00:00  2019      sd        Varon
4  LC-2019-0000082  2019-01-01 00:00:00  2019      sd        Mujer

  edad_victima gravedad rol_victima fecha_fallemiento tipo_de_dato
0           57       SD          SD               NaN   definitivo
1           SD       SD          SD               NaN   definitivo
2           SD       SD          SD               NaN   definitivo
3           45       SD          SD               NaN   definitivo
4           45       SD          SD               NaN   definitivo

In [19]:
#Cantidad de columnas
df_victimas.columns

Index(['id_hecho', 'fecha', 'aaaa', 'victima', 'sexo_victima', 'edad_victima',
       'gravedad', 'rol_victima', 'fecha_fallemiento', 'tipo_de_dato'],
      dtype='object')

In [20]:
#Cantidad de registros
print('Cantidad de registros:', df_victimas.shape[0])

Cantidad de registros: 50754

In [21]:
print(df_victimas.isnull().sum())

id_hecho                 0
fecha                    0
aaaa                     0
victima                  0
sexo_victima             0
edad_victima             0
gravedad                 0
rol_victima              0
fecha_fallemiento    50257
tipo_de_dato             0
dtype: int64

In [22]:
import pandas as pd
import numpy as np

# Supongamos que ya tienes tu DataFrame 'df_hechos'

# Reemplazar los valores 'sd' por NaN en el DataFrame
df_victimas.replace('SD', np.nan, inplace=True)
df_victimas.replace('sd', np.nan, inplace=True)

# Opción para verificar los cambios realizados
print(df_victimas.isnull().sum())

id_hecho                 0
fecha                  736
aaaa                     0
victima              19362
sexo_victima          9758
edad_victima         16176
gravedad             48767
rol_victima          50259
fecha_fallemiento    50257
tipo_de_dato             0
dtype: int64

In [23]:
df_victimas

,id_hecho,fecha,aaaa,victima,sexo_victima,edad_victima,gravedad,rol_victima,fecha_fallemiento,tipo_de_dato
0,LC-2019-0000053,2019-01-01,2019,NaN,Varon,57,NaN,NaN,NaN,definitivo
1,LC-2019-0000063,2019-01-01,2019,NaN,NaN,NaN,NaN,NaN,NaN,definitivo
2,LC-2019-0000079,2019-01-01,2019,NaN,Varon,NaN,NaN,NaN,NaN,definitivo
3,LC-2019-0000082,2019-01-01,2019,NaN,Varon,45,NaN,NaN,NaN,definitivo
4,LC-2019-0000082,2019-01-01,2019,NaN,Mujer,45,NaN,NaN,NaN,definitivo
...,...,...,...,...,...,...,...,...,...,...
50749,LC-2023-0710548,2023-12-10,2023,BICICLETA,NaN,NaN,NaN,NaN,NaN,provisorio
50750,LC-2023-0741093,2023-12-24,2023,MOTO,NaN,NaN,NaN,NaN,NaN,provisorio
50751,LC-2023-0633217,2023-11-03,2023,TRANSPORTE PUBLICO,NaN,NaN,NaN,NaN,NaN,provisorio
50752,LC-2023-0635615,2023-11-04,2023,NaN,NaN,NaN,NaN,NaN,NaN,provisorio
50753,LC-2023-0750935,2023-12-29,2023,NaN,NaN,NaN,NaN,NaN,NaN,provisorio

In [24]:
"""
Cell generated by Data Wrangler.
"""
def clean_data(df_victimas):
    # Drop rows with missing data in columns: 'sexo_victima', 'victima', 'edad_victima'
    df_victimas = df_victimas.dropna(subset=['sexo_victima', 'victima', 'edad_victima'])
    # Drop columns: 'tipo_de_dato', 'fecha_fallemiento' and 2 other columns
    df_victimas = df_victimas.drop(columns=['tipo_de_dato', 'fecha_fallemiento', 'rol_victima', 'gravedad'])
    # Convert text to lowercase in columns: 'id_hecho', 'victima', 'sexo_victima'
    df_victimas['id_hecho'] = df_victimas['id_hecho'].str.lower()
    df_victimas['victima'] = df_victimas['victima'].str.lower()
    df_victimas['sexo_victima'] = df_victimas['sexo_victima'].str.lower()
    # Remove leading and trailing whitespace in columns: 'id_hecho', 'victima', 'sexo_victima'
    df_victimas['id_hecho'] = df_victimas['id_hecho'].str.strip()
    df_victimas['victima'] = df_victimas['victima'].str.strip()
    df_victimas['sexo_victima'] = df_victimas['sexo_victima'].str.strip()
    # Rename column 'aaaa' to 'año'
    df_victimas = df_victimas.rename(columns={'aaaa': 'año'})
    return df_victimas

df_victimas_clean = clean_data(df_victimas.copy())
df_victimas_clean.head()

              id_hecho      fecha   año victima sexo_victima edad_victima
11782  lc-2020-0000125 2020-01-01  2020    moto        varon           27
11783  lc-2020-0000427 2020-01-01  2020    auto        varon           33
11786  lc-2020-0000558 2020-01-01  2020    moto        varon           27
11787  lc-2020-0000558 2020-01-01  2020    moto        varon           27
11788  lc-2020-0000558 2020-01-01  2020    moto        mujer           26

In [25]:
# Guardar el DataFrame en Excel
df_victimas_clean.to_excel('victimas.xlsx', sheet_name='victimas', index=False)

print("Datos guardados exitosamente en 'victimas.xlsx'")

Datos guardados exitosamente en 'victimas.xlsx'